<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter" />
    </listeners>
    <test name = "Login">
        <classes>
            <class name = "LoginTest"/>
        </classes>
    </test>
    <test name = "Messages">
        <classes>
            <class name = "MessagesTest"/>
        </classes>
    </test>
    <test name = "Payment">
        <classes>
            <class name = "PaymentTest"/>
        </classes>
    </test>
</suite>